<body>
<div class="container mt-5">
    <h1 class="text-center" style="color:#14274E" >สถานที่ท่องเที่ยวในจังหวัดชลบุรี</h1>
    <div class="row mt-5 text-center">
        <div class="col-md-4 mb-5">
            <div class="card mx-auto" style="width: 25rem;">
                <a href="#">
                    <img src="assets/TP/TP01.jpg" class="card-img-top" alt="...">
                </a>
                <div class="card-body">
                    <h5 class="card-title">สถาบันวิทยาศาสตร์ทางทะเล ม.บูรพา</h5>
                    <p class="card-text">สถาบันวิทยาศาสตร์ทางทะเล มหาวิทยาลัยบูรพา เป็นสถาบันวิจัยทางด้านวิทยาศาสตร์ทางทะเล และให้บริการวิชาการแก่สังคม โดยมีสถานเลี้ยงสัตว์น้ำเค็ม ศูนย์เรียนรู้โลกใต้ทะเลบางแสน และพิพิธภัณฑ์วิทยาศาสตร์ทางทะเล ที่เปิดให้บุคคลภายนอกสามารถเข้าชมได้</p>
                    <a href="https://th.wikipedia.org/wiki/%E0%B8%AA%E0%B8%96%E0%B8%B2%E0%B8%9A%E0%B8%B1%E0%B8%99%E0%B8%A7%E0%B8%B4%E0%B8%97%E0%B8%A2%E0%B8%B2%E0%B8%A8%E0%B8%B2%E0%B8%AA%E0%B8%95%E0%B8%A3%E0%B9%8C%E0%B8%97%E0%B8%B2%E0%B8%87%E0%B8%97%E0%B8%B0%E0%B9%80%E0%B8%A5_%E0%B8%A1%E0%B8%AB%E0%B8%B2%E0%B8%A7%E0%B8%B4%E0%B8%97%E0%B8%A2%E0%B8%B2%E0%B8%A5%E0%B8%B1%E0%B8%A2%E0%B8%9A%E0%B8%B9%E0%B8%A3%E0%B8%9E%E0%B8%B2" class="btn btn-primary">ข้อมูลเพิ่มเติม</a>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-5"> 
            <div class="card mx-auto" style="width: 25rem;">
                <a href="#">
                    <img src="assets/TP/TP02.jpg" class="card-img-top" alt="...">
                </a>
                <div class="card-body">
                    <h5 class="card-title">เกาะล้าน</h5>
                    <p class="card-text">เกาะล้าน เป็นเกาะที่เดินทางไม่ไกลจากกรุงเทพ มีความสวยงาม และการเดินทางที่สะดวกสบาย สามารถเที่ยวได้ทุกฤดูกาล มีความสวยทุกฤดูกาล พร้อมยังมีกิจกรรมมากมายให้นักท่องเที่ยวได้พักผ่อน และค่าใช้จ่ายในการเที่ยวเกาะล้านนั้นราคาไม่แพง</p>
                    <a href="https://th.wikipedia.org/wiki/%E0%B9%80%E0%B8%81%E0%B8%B2%E0%B8%B0%E0%B8%A5%E0%B9%89%E0%B8%B2%E0%B8%99" class="btn btn-primary">ข้อมูลเพิ่มเติม</a>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-5">
            <div class="card mx-auto" style="width: 25rem;">
                <a href="#">
                    <img src="assets/TP/TP03.jpg" class="card-img-top" alt="...">
                </a>
                <div class="card-body">
                    <h5 class="card-title">หาดบางแสน</h5>
                    <p class="card-text">เป็นอีกหนึ่งสถานที่ท่องเที่ยวยอดนิยมของนักท่องเที่ยวทั้งชาวไทยชาวต่างชาติ ที่หากใครได้มาเที่ยว บางแสน ก็ต้องมาเที่ยวหาดบางแสน มาปูเสื่อ นั่งพักผ่อนชมวิวทะเลยามเย็นได้อย่างสวยงาม มีร้านอาหาร ร้านค้า สถานที่พักมากมายไว้คอยบริการนักท่องเที่ยวทุกท่าน</p>
                    <a href="https://th.wikipedia.org/wiki/%E0%B8%AB%E0%B8%B2%E0%B8%94%E0%B8%9A%E0%B8%B2%E0%B8%87%E0%B9%81%E0%B8%AA%E0%B8%99" class="btn btn-primary">ข้อมูลเพิ่มเติม</a>
                </div>
            </div>
        </div>
    </div>
</div>