<div class="container mt-4">
  <h1 class="text-center">รายชื่อสมาชิกในกลุ่ม</h1>
  <div class="row mt-4 text-center">
      <div class="col">
          <div class="card mx-auto" style="width: 18.9rem;">
              <img src="assets/teams/team01.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                  <h5 class="card-title">นายอนันตภูมิ สินสุข</h5>
                  <p class="card-text">ปวส.1/5</p>
                  <a href="https://www.youtube.com/@VX-3N" class="btn btn-primary">โต้</a>
              </div>
          </div>
      </div>
